*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  align-content: center;
  font-family: system-ui, sans-serif;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2;
}

.grid {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 3rem;
}

.container {
  justify-content: center;
}

.controls {
  gap: 1em;
}

button {
  --button-color: teal;
  font: inherit;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  padding: 0.5em 1em;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 0.25rem;
  color: white;

  &:is(:hover, :focus-visible) {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

#analogClock {
  --hand-width: 2%;
  --clockSize: 6rem;
  --clockColor: lch(60% 120 60 / 1);
  --circleSize: calc(var(--hand-width) * 2);
  color: var(--clockColor);
  position: relative;
  height: var(--clockSize);
  width: var(--clockSize);
  border: 0.15rem solid var(--clockColor);
  border-radius: 50%;
  background-size: 100%;
  cursor: pointer;
  justify-items: center;
  overflow: hidden;
}

#analogClock>* {
  position: absolute;
  background: var(--clockColor);
  transform-origin: bottom;
}

[class*="hand"] {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: var(--hand-width);
  height: var(--hand-height);
  top: calc(50% - var(--hand-height));
  left: calc(50% - var(--hand-width) / 2);
}

.hour-hand {
  --hand-height: 25%;
  opacity: 0.9;
}

.minute-hand {
  --hand-height: 40%;
  opacity: 0.6;
}

.second-hand {
  --hand-width: 1%;
  --hand-height: 40%;
  opacity: 0.3;

  &.hidden {
    opacity: 0;
  }
}

.circle {
  width: var(--circleSize);
  height: var(--circleSize);
  top: calc(50% - var(--circleSize) / 2);
  border-radius: 50%;
}

#analogClock .group {
  user-select: none;
  display: flex;
  justify-content: center;
  width: 0;
  height: 100%;
  font-size: calc(var(--clockSize) * 0.125);
  transform-origin: center;

  --short-mark-width: .1em;
  --short-mark-height: .2em;
  --long-mark-width: .1em;
  --long-mark-height: .4em;

  &:nth-child(5n+1)::before {
    width: var(--long-mark-width);
    height: var(--long-mark-height);
  }

  &:nth-child(5n+1)::after {
    width: var(--long-mark-width);
    height: var(--long-mark-height);
  }

  &::before {
    content: "";
    position: absolute;
    width: var(--short-mark-width);
    height: var(--short-mark-height);
    background-color: var(--clockColor);
    top: 1%;
  }

  &::after {
    content: "";
    position: absolute;
    width: var(--short-mark-width);
    height: var(--short-mark-height);
    background-color: var(--clockColor);
    bottom: 1%;
  }
}

.group>* {
  position: absolute;

  &:first-child {
    top: 2%;
  }

  &:last-child {
    bottom: 2%;
  }
}
